<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <title>audio</title>
</head>
<body>
    <div id="Con">
        <h1 class="hidden">Top Image</h1>
        <header class="TopAudioimg">
            <div class="TopBox">
                <div class="logoCon">
                    <a href="/">
                    <img src="images/logo.svg" alt="logo">
                </a>
                </div>
                
                <div class="TopRCon">
                    <h1 class="hidden">menu</h1>
                    <nav class="navCon">
                       <ul> <a href="/"> Home </a> </ul>
                       <ul> <a href="videoView"> Video </a>  </ul>
                       <ul> <a href="audioView"> Audio </a> </ul>
                   </nav>
                   <h1 class="hidden">description</h1>
                   <div class="TopDes">
                       <p>Are you bored?</p>
                       <p>Would you like to listen to music?</p>
                   </div>
                </div>
            </div>
            
        </header>
        <main class="mainCon">
            <h1 class="hidden">audioTitle</h1>
            <div class="DesaudioCon1">

                    <h2>ACOUSTIC/FOLK</h2>

               <div class="folklist">
                    <div class="audioFolk">
                        <img src="images/inspire.png" alt="inspire">
                        <h3>Inspire</h3>
                        <p>Happy and light royalty free ukulele music featuring ukulele, fin…</p>
                    </div>
                    <div class="audioFolk">
                        <img src="images/clearday.png" alt="clearday">
                        <h3>Clear Day</h3>
                        <p>Happy and light royalty free ukulele music featuring ukulele, fin…</p>
                    </div>
                    <div class="audioFolk">
                        <img src="images/pianomoment.png" alt="pianomoment">
                        <h3>Piano Moment</h3>
                        <p>Happy and light royalty free ukulele music featuring ukulele, fin…</p>
                    </div>
                    <div class="audioFolk">
                        <img src="images/punky.png" alt="punky">
                        <h3>Punky</h3>
                        <p>Happy and light royalty free ukulele music featuring ukulele, fin…</p>
                    </div>
                    <div class="audioFolk">
                        <img src="images/Retrosoul.png" alt="retrosoul">
                        <h3>Retro Soul</h3>
                        <p>Happy and light royalty free ukulele music featuring ukulele, fin…</p>
                    </div>
                </div>
            </div>

            
        </main>
        <footer class="footerCon">
            <p>DESIGNED BY OKSIL JOO</p>
        </footer>

    </div>
</body>
</html>