<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/main.css" type="text/css">
    <title>video</title>
</head>
<body>
    <div id="Con">
        <h1 class="hidden">Top Image</h1>
        <header class="TopVideoimg">
            <div class="TopBox">
                <div class="logoCon">
                    <a href="/">
                    <img src="images/logo.svg" alt="logo">
                </a>
                </div>
                
                <div class="TopRCon">
                    <h1 class="hidden">menu</h1>
                    <nav class="navCon">
                       <ul> <a href="/"> Home </a> </ul>
                       <ul> <a href="videoView"> Video </a>  </ul>
                       <ul> <a href="audioView"> Audio </a> </ul>
                   </nav>
                   <h1 class="hidden">description</h1>
                   <div class="TopDes">
                       <p>Do you like movies?</p>
                       <p>What kind of movie?</p>
                   </div>
                </div>
            </div>
            
        </header>
        <main class="mainCon">
            <h1 class="hidden">Top 10</h1>
            <div class="DesaudioCon1">

                    <h2>Top10</h2>

                    <div class="folklist">
                  
                        <div class="videoFolk">
                            <a href="videoStreaming1">
                                <img src="images/arrival.png" alt="arrival">
                            </a>
                            <h3>Arrival</h3>
                        </div>
                        <div class="videoFolk">
                            <a href="videoStreaming2">
                            <img src="images/beauty.png" alt="beauty">  
                        </a>                     
                             <h3>Beauty</h3>
                        </div>
                        <div class="videoFolk">
                            <a href="videoStreaming3">
                            <img src="images/brooklyn.png" alt="brooklyn">  
                        </a>                      
                            <h3>Ukulele</h3>            
                        </div>
                        <div class="videoFolk">
                            <a href="videoStreaming4">
                            <img src="images/colonia.png" alt="colonia">  
                        </a>                      
                            <h3>colonia</h3>              
                       </div>
                       <div class="videoFolk">
                        <a href="videoStreaming5">
                            <img src="images/deadpool.png" alt="deadpool">      
                        </a>                  
                            <h3>Dead Pool</h3>
                        </div>
                    </div>
                   
                </div>
        </main>
        <footer class="footerCon">
            <p>DESIGNED BY OKSIL JOO</p>
        </footer>

    </div>

     <script src="js/main.js" type="module" defer></script>
</body>
</html>