<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/main.css" type="text/css">
    <title>video</title>
</head>
<body>
    <div id="Con">
        <h1 class="hidden">Top Image</h1>
        <header class="TopVideoimg">
            <div class="TopBox">
                <div class="logoCon">
                    <a href="/">
                    <img src="images/logo.svg" alt="logo">
                </a>
                </div>
                
                <div class="TopRCon">
                    <h1 class="hidden">menu</h1>
                    <nav class="navCon">
                       <ul> <a href="/"> Home </a> </ul>
                       <ul> <a href="videoView"> Video </a>  </ul>
                       <ul> <a href="audioView"> Audio </a> </ul>
                   </nav>
                   <h1 class="hidden">description</h1>
                   <div class="TopDes">
                       <p>Do you like movies?</p>
                       <p>What kind of movie?</p>
                   </div>
                </div>
            </div>
            
        </header>
        <main class="mainCon">
            <h1 class="hidden">Top 10</h1>
            <div class="DesaudioCon1">
                <h2>Top10</h2>
                 <div class="folklist">
                  
                    <div class="videoFolk">
                        <a href="#video-folk-1">
                            <img src="images/beauty.png" alt="deadpool">
                        </a>
                        <h3 class="video_title">Beauty</h3>
                    </div>

                     <div class="videoFolk">
                        <a href="#video-folk-2">
                        <img src="images/arrival.png" alt="arrival">
                        </a>   
                        <h3 class="video_title">Arrival</h3>
                    </div>

                    <div class="videoFolk">
                        <a href="#video-folk-3">
                        <img src="images/deadpool.png" alt="deadpool">
                        </a>
                        <h3 class="video_title"> Deadpool</h3>
                    </div>
               
                    <div class="videoFolk">
                        <a href="#video-folk-4">
                        <img src="images/brooklyn.png" alt="brooklyn">
                        </a>
                        <h3 class="video_title"> brooklyn</h3>
                    </div>

                    <div class="videoFolk">
                        <a href="#video-folk-5">
                        <img src="images/colonia.png" alt="colonia">
                        </a>
                        <h3 class="video_title"> colonia</h3>
                    </div>
                    </div>
                    <div class="folklist">

                    <div class="videoFolk">
                        <a href="#video-folk-6">
                        <img src="images/donjon.png" alt="Donjon">
                        </a>
                        <h3 class="video_title"> Donjon</h3>
                    </div>

                    <div class="videoFolk">
                        <a href="#video-folk-7">
                        <img src="images/dunkir.png" alt="dunkirk">
                        </a>
                        <h3 class="video_title"> Dunkirk</h3>
                    </div>

                    <div class="videoFolk">
                        <a href="#video-folk-8">
                        <img src="images/force.png" alt="Force">
                        </a>
                        <h3 class="video_title"> Force</h3>
                    </div>

                    <div class="videoFolk">
                        <a href="#video-folk-9">
                        <img src="images/guardians.png" alt="Guardians">
                        </a>
                        <h3 class="video_title">Guardians</h3>
                    </div>

                    <div class="videoFolk">
                        <a href="#video-folk-10">
                        <img src="images/guardians2.png" alt="Guardians2">
                        </a>
                        <h3 class="video_title"> Guardians2</h3>
                    </div>

                    <div class="video-lightboxes">
                        <div id="video-folk-1" class="video-lightbox">
                            <div class="video-lightbox__content">
                                <a href="#" class="close"> <img src="images/close.png" alt="close"> </a>
                                <video width="100%" muted controls autoplay id="myVideo">
                                    <source src="video/Beauty.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="video-lightboxes">
                        <div id="video-folk-2" class="video-lightbox">
                            <div class="video-lightbox__content">
                                <a href="#" class="close"> <img src="images/close.png" alt="close"></a>
                                <video width="100%" muted controls autoplay id="myVideo">
                                    <source src="video/Arrival.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>
                
                    <div class="video-lightboxes">
                        <div id="video-folk-3" class="video-lightbox">
                            <div class="video-lightbox__content">
                                <a href="#" class="close">  <img src="images/close.png" alt="close"> </a>
                                <video width="100%" muted controls autoplay id="myVideo">
                                    <source src="video/Deadpool.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="video-lightboxes">
                        <div id="video-folk-4" class="video-lightbox">
                            <div class="video-lightbox__content">
                                <a href="#" class="close">  <img src="images/close.png" alt="close"> </a>
                                <video width="100%" muted controls autoplay id="myVideo">
                                    <source src="video/Brooklyn.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="video-lightboxes">
                        <div id="video-folk-5" class="video-lightbox">
                            <div class="video-lightbox__content">
                                <a href="#" class="close">  <img src="images/close.png" alt="close"> </a>
                                <video width="100%" muted controls autoplay id="myVideo">
                                    <source src="video/Colonia.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="video-lightboxes">
                        <div id="video-folk-6" class="video-lightbox">
                            <div class="video-lightbox__content">
                                <a href="#" class="close"> <img src="images/close.png" alt="close"> </a>
                                <video width="100%" muted controls autoplay id="myVideo">
                                    <source src="video/Donjon.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="video-lightboxes">
                        <div id="video-folk-7" class="video-lightbox">
                            <div class="video-lightbox__content">
                                <a href="#" class="close">  <img src="images/close.png" alt="close"> </a>
                                <video width="100%" muted controls autoplay id="myVideo">
                                    <source src="video/Dunkirk.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="video-lightboxes">
                        <div id="video-folk-8" class="video-lightbox">
                            <div class="video-lightbox__content">
                                <a href="#" class="close">  <img src="images/close.png" alt="close"> </a>
                                <video width="100%" muted controls autoplay id="myVideo">
                                    <source src="video/Force.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="video-lightboxes">
                        <div id="video-folk-9" class="video-lightbox">
                            <div class="video-lightbox__content">
                                <a href="#" class="close">  <img src="images/close.png" alt="close"> </a>
                                <video width="100%" muted controls autoplay id="myVideo">
                                    <source src="video/Guardians.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="video-lightboxes">
                        <div id="video-folk-10" class="video-lightbox">
                            <div class="video-lightbox__content">
                                <a href="#" class="close">  <img src="images/close.png" alt="close"> </a>
                                <video width="100%" muted controls autoplay id="myVideo">
                                    <source src="video/Guardians2.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>
            </div>
          
        </main>
        <footer class="footerCon">
            <p>DESIGNED BY OKSIL JOO</p>
        </footer>

    </div>
    <!-- <script src="js/main.js" type="module" defer></script> -->
    <script>
     var videoPlayer = document.querySelector(".video-player");
    var video = document.querySelector("video");

    videoPlayer.classList.toggle("active");
    video.pause();
    video.currentTime = 0;
    </script>
</body>
</html>